@page "/Row"
@inherits GameRowModel

<div>
    <div class="circle" style="background: @Color[0];" onclick="@((e) => Ball_Click(0))" />
    <div class="circle" style="background: @Color[1];" onclick="@((e) => Ball_Click(1))" />
    <div class="circle" style="background: @Color[2];" onclick="@((e) => Ball_Click(2))" />
    <div class="circle" style="background: @Color[3];" onclick="@((e) => Ball_Click(3))" />
    @if (IsChecked)
    {
        <div class="answer">
            @Goods well placed balls. <br />
            @Bads exiting, but bad placed balls.
        </div>
    }
</div>